* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-1f2b4f--: #1f2b4f;
  --color-bfc3d4--: #bfc3d4;
  --color-f5f6fa--: #f5f6fa;
  --color-cccccc--: #cccccc;
  --color--285be6--: #285be6;
  --color--ffffff--: #ffffff;
  --color--fbfbfb--: #fbfbfb;
  --color--f8f7fc--: #f8f7fc;
  --color--b3bcd3--: #b3bcd3;
  --color--656974--: #656974;
}
body {
  font-family: "Poppins", sans-serif;
}
.main {
  width: 100vw;
  height: 100vh;
  background-image: url("../public/learn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Table begin */
.table {
  width: 100%;
}
.table caption {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.table th {
  border-bottom: 1px solid;
  text-align: left;
  padding: 5px 10px;
  font-size: 13px;
  position: relative;
  /* font-weight: 500; */
}
.table th:hover {
  cursor: pointer;
}
.table th i {
  position: absolute;
  right: 4px;
  top: 10px;
  font-size: 9px;
}
.table tbody tr:first-child td {
  border-top: none;
}
.table td {
  font-size: 11px;
  padding: 5px 10px;
  border-top: 1px solid #ddd;
}
.table tbody tr:nth-child(n) td {
  background-color: #ffffff;
}
.table tbody tr:nth-child(2n) td {
  background-color: #eff0f0;
}
.table .button-group {
  display: flex;
  gap: 10px;
}
.table .button-update {
  height: 25px;
  width: 50px;
  font-size: 9px;
  padding: 3px;
  border: 1px solid;
  border-radius: 5px;
  background-color: rgb(31, 170, 31);
  color: white;
  font-weight: 500;
  cursor: pointer;
}
.table .button-delete {
  height: 25px;
  width: 40px;
  font-size: 10px;
  padding: 3px;
  font-weight: 500;
  background-color: rgb(240, 24, 24);
  color: white;
  border: 1px solid;
  border-radius: 5px;
  cursor: pointer;
}
.table-wrapper .pagination {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
/* Table end */

/* Login page begin*/
.wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--color--ffffff--);
  border-radius: 40px;
  width: 80%;
  height: 87%;
}
.login-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 40px 0px 40px;
}
.login-top button {
  border: 2px solid var(--color-bfc3d4--);
  width: 90px;
  height: 35px;
  border-radius: 55px;
  color: var(--color-bfc3d4--);
  font-size: 13px;
  font-weight: 500;
  background-color: var(--color-ffffff--);
}
.login-top button:hover {
  cursor: pointer;
}
.form-container {
  display: flex;
}
.sign-in {
  display: flex;
  justify-content: center;
  width: 50%;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form .title {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 30px;
}
.form .title > h3 {
  color: var(--color-1f2b4f--);
  font-weight: 600;
  font-size: 13px;
}
.others-login h3 {
  color: var(--color-bfc3d4--);
  text-align: end;
  font-weight: 600;
  font-size: 13px;
}
.others-login .social-icons {
  display: flex;
  margin-top: 10px;
}
.others-login .social-icons .icon {
  background-color: var(--color-bfc3d4--);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 0 0 6px;
  color: white;
}
.form .input-field {
  width: 100%;
  height: 39px;
  margin: 10px 0;
  display: grid;
  grid-template-columns: 10% 90%;
  border-radius: 40px;
  border: 1px solid var(--color-bfc3d4--);
  background-color: white;
  padding-left: 20px;
  padding-right: 25px;
}
.form .input-field i {
  text-align: center;
  line-height: 35px;
  color: var(--color-bfc3d4--);
  font-size: 12px;
}
.form .input-field input {
  border: none;
  outline: none;
  line-height: 1;
  font-weight: 600;
  font-size: 13px;
}
.form-container .image img {
  width: 80%;
  height: auto;
  margin-top: 20px;
}
.form .forgot-submit {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.forgot-submit a {
  color: var(--color-bfc3d4--);
  text-decoration: none;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.forgot-submit button {
  border: none;
  width: 100px;
  height: 35px;
  border-radius: 55px;
  color: white;
  font-size: 13px;
  font-weight: 500;
  background-color: var(--color--285be6--);
}
.forgot-submit button:hover {
  cursor: pointer;
}

/* Login page end*/

/* Navbar begin */
.navbar-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  padding-top: 15px;
  margin-left: 30px;
}
.search {
  display: grid;
  grid-template-columns: 15% 85%;
  background-color: var(--color--f8f7fc--);
  border-radius: 45px;
  width: 28%;
  height: 30px;
  /* margin-right: 300px; */
  padding-right: 20px;
}
.search i {
  text-align: center;
  line-height: 30px;
  color: var(--color--b3bcd3--);
  font-size: 13px;
}
.search input {
  border: none;
  outline: none;
  height: 30px;
  background-color: var(--color--f8f7fc--);
  font-size: 13px;
  color: var(--color--b3bcd3--);
}
.user {
  display: flex;
  gap: 40px;
  margin-right: 80px;
}
.notifications {
  display: flex;
  align-items: center;
}
.notifications i {
  font-size: 15px;
  color: var(--color--b3bcd3--);
}
.user-infor {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}
.user-infor > i {
  font-size: 30px;
  color: var(--color-bfc3d4--);
}
.name-role p {
  font-size: 10px;
}
.name {
  display: flex;
  align-items: center;
  gap: 10px;
}

.user-infor:hover {
  cursor: pointer;
}
.user-infor:hover .user-dropdown {
  display: block;
  position: absolute;
  top: 35px;
  left: 5px;
}
.user-dropdown {
  display: none;
}
.user-dropdown ul {
  background-color: var(--color--f8f7fc--);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 150px;
  border-radius: 0 0 5px 5px;
}
.user-dropdown .item {
  display: flex;
  gap: 5px;
  align-items: center;
  padding: 10px 0 10px 10px;
}
.user-dropdown .item:hover li {
  cursor: pointer;
  color: var(--color--285be6--);
}
.user-dropdown .item i {
  color: var(--color--656974--);
  font-size: 10px;
}
.user-dropdown .item li {
  list-style-type: none;
  font-size: 10px;
  font-weight: 500;
  color: var(--color--656974--);
}
.user-dropdown ul > .item:first-child,
.user-dropdown ul > .item:nth-child(2) {
  border-bottom: 1px solid var(--color--b3bcd3--);
}
/* Navbar end */

/* Sidebar begin*/
.side-bar-wrapper {
  padding-top: 50px;
}
.side-bar-wrapper .item {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 10px 10px 10px 20px;
  margin-bottom: 5px;
}
.side-bar-wrapper .item:hover {
  cursor: pointer;
  border-right: 5px solid #285be6;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.side-bar-wrapper .item:hover i {
  color: var(--color--285be6--);
}
.side-bar-wrapper .item:hover p {
  color: var(--color--285be6--);
}
.side-bar-wrapper .item i {
  font-size: 13px;
  color: var(--color--285be6--);
  font-weight: 600;
}
.side-bar-wrapper .item p {
  font-size: 14px;
  color: var(--color--656974--);
  font-weight: 500;
}
/* Sidebar end*/

/* Adminlayout begin */
.navbar {
  border-bottom: 8px solid var(--color-f5f6fa--);
}
.content-wrapper {
  display: flex;
  height: 100%;
}
.side-bar {
  width: 20%;
  border-right: 8px solid var(--color-f5f6fa--);
  height: 100%;
}
.content-wrapper > .content {
  width: 80%;
  margin: 20px 30px;
}
/* Adminlayout end */

/* Dashboard begin*/
.dashboard-wrapper {
  display: grid;
  grid-template-columns: 180px 180px 180px 180px;
  column-gap: 20px;
}
.widgets-wrapper {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* background-color: var(--color-bfc3d4--); */
}
.widgets-wrapper > .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}
.widgets-wrapper > .content i {
  font-size: 20px;
  color: var(--color--285be6--);
}
.widgets-wrapper > .content p {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.widgets-wrapper > .count p {
  font-size: 12px;
  font-weight: 500;
}
.widgets-wrapper button {
  border: none;
  width: 50px;
  height: 20px;
  border-radius: 55px;
  color: var(--color--656974--);
  font-size: 12px;
  font-weight: 500;
}
.widgets-wrapper button:hover {
  cursor: pointer;
  background-color: var(--color--285be6--);
  color: white !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* Dashboard end*/

/*Exam page begin*/
.exam-header {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  margin-left: 15px;
  align-items: center;
}
.exam-header .progress-bar {
  width: 30%;
}
.exam-header button {
  border: 2px solid var(--color-bfc3d4--);
  width: 60px;
  height: 16px;
  border-radius: 55px;
  color: var(--color-bfc3d4--);
  font-size: 9px;
  font-weight: 500;
  background-color: var(--color-ffffff--);
}
.exam-header button:hover {
  background-color: var(--color--285be6--);
  color: white;
  cursor: pointer;
  border: none;
}
.exam-header .time-total p {
  font-size: 12px;
}
.exam-header .time-left-wrapper {
  position: relative;
  margin-right: 100px;
}
.exam-header .time-left-wrapper i {
  font-size: 15px;
  color: var(--color--285be6--);
}
.exam-header .time-left-wrapper .time-left {
  position: absolute;
  top: -2px;
  margin-left: 25px;
}
.exam-content {
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.exam-content .content-left {
  min-height: 80%;
  width: 75%;
  border-radius: 10px;
  background-color: var(--color--fbfbfb--);
  padding: 50px 70px;
  margin-left: 20px;
}
.exam-content .content-left > h3:first-child {
  font-size: 13px;
  color: var(--color-bfc3d4--);
  font-weight: 500;
}
.exam-content .content-left .question {
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 30px;
}
.exam-content .content-left .answers .item {
  position: relative;
  cursor: pointer;
  margin-bottom: 10px;
  display: block;
  border: 1px solid #e9e8f2;
  padding: 5px 5px 5px 15px;
  font-size: 13px;
  font-weight: 500;
  color: var(--color--656974--);
}
.exam-content .content-left .answers .item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.exam-content .content-left .answers .item .checkmark {
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #eee;
  border-radius: 50%;
  right: 20px;
  top: 8px;
}
.exam-content .content-left .answers .item:hover input ~ .checkmark {
  background-color: #ccc;
}
.exam-content .content-left .answers .item input:checked ~ .checkmark {
  background-color: var(--color--285be6--);
}
.exam-content .content-left .answers .item .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}
.exam-content .content-left .answers .item input:checked ~ .checkmark::after {
  display: block;
}
.exam-content .content-left .answers .item .checkmark::after {
  top: 4px;
  right: 4px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: white;
}
.exam-content .content-right {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 5px;
  row-gap: 5px;
}
.exam-content .content-right .question-number {
  width: 25px;
  height: 25px;
  border: 1px solid #e9e8f2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 10px;
  font-weight: 500;
  color: var(--color--656974--);
  font-size: 10px;
}
.exam-content .content-right .question-number:hover {
  cursor: pointer;
  background-color: var(--color--285be6--);
  color: white;
}
.exam-footer {
  display: flex;
  justify-content: center;
}
.exam-footer .change-question {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.exam-footer .change-question button {
  border: 2px solid var(--color-bfc3d4--);
  width: 80px;
  height: 30px;
  border-radius: 55px;
  color: var(--color-bfc3d4--);
  font-size: 13px;
  font-weight: 500;
  background-color: var(--color-ffffff--);
}
.exam-footer .change-question button:hover {
  color: white;
  background-color: var(--color--285be6--);
  cursor: pointer;
}
.exam-footer .change-question button:first-child i {
  padding-right: 5px;
}
.exam-footer .change-question button:nth-child(1) i {
  padding-left: 5px;
}
.exam-footer .submit-exam {
  border: 2px solid var(--color-bfc3d4--);
  width: 80px;
  height: 30px;
  border-radius: 55px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
  background-color: var(--color--285be6--);
  margin-left: 200px;
}
/*Exam page end*/
/* List exam page begin*/
.list-exam-wrapper .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-exam-wrapper button {
  background-color: var(--color--285be6--);
  padding: 8px;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 10px;
  cursor: pointer;
}
.list-exam-wrapper button:hover {
  opacity: 0.9;
}
.list-exam-wrapper button i {
  margin-right: 3px;
}
/* List exam page end*/
/*Add exam page*/
.add-exam {
  background: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.add-exam .form-add {
  width: 30%;
  min-height: 65%;
  padding: 0 70px;
}
.form-add {
  background-color: var(--color--fbfbfb--);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
}
.form-add i.close {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #dddddd;
  padding: 3px;
  cursor: pointer;
}
.form-add i.close:hover {
  opacity: 0.7;
}
.form-add .input-field {
  width: 100%;
}
.form-add .input-field label {
  font-size: 11px;
  font-weight: 500;
}
.form-add .input-field input,
.form-add .input-field select {
  width: 100%;
  height: 30px;
  border: 1px solid var(--color-bfc3d4--);
  border-radius: 20px;
  outline: none;
  padding: 5px 10px;
  font-weight: 600;
}
.form-add button {
  margin-top: 10px;
  background-color: var(--color--285be6--);
  padding: 8px;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 10px;
  cursor: pointer;
}
/*Add exam end*/

/*Update exam page begin*/
.update-exam-wrapper h3 {
  margin-bottom: 10px;
}
.update-exam-content {
  background-color: var(--color--fbfbfb--);
  display: flex;
  gap: 30px;
  padding: 20px;
  border-radius: 10px;
}
.update-exam-content .left {
  width: 40%;
  background-color: var(--color--ffffff--);
  padding: 20px;
  border-radius: 10px;
}
.update-exam-content .left form {
  background-color: var(--color--ffffff--);
}
.update-exam-content .left form button:hover {
  opacity: 0.9;
}
.update-exam-content .left form button i {
  margin-right: 5px;
}
.update-exam-content .right {
  width: 55%;
  padding: 20px 10px 10px 30px;
  background-color: var(--color--ffffff--);
  border: 1px solid var(--color-bfc3d4--);
  border-radius: 10px;
}
.update-exam-content .right .button-group {
  display: flex;
  gap: 15px;
  margin-bottom: 10px;
}
.update-exam-content .right .button-group button.add-question {
  background-color: var(--color--285be6--);
  padding: 8px;
  color: white;
  border-radius: 5px;
  border: none;
  font-size: 10px;
  cursor: pointer;
  font-weight: 600;
}
.update-exam-content .right .button-group button.preview {
  padding: 8px;
  background-color: var(--color--ffffff--);
  border: 1px solid var(--color-bfc3d4--);
  border-radius: 5px;
  color: var(--color--b3bcd3--);
  font-size: 10px;
  cursor: pointer;
  font-weight: 600;
}
.update-exam-content .right .button-group button i {
  margin-right: 5px;
}
.update-exam-content .right .button-group button:hover {
  opacity: 0.9;
}
.update-exam-content .right .preview-question {
  height: 300px;
  overflow: scroll;
  overflow-x: hidden;
}
.update-exam-content .right .preview-question .question-item {
  margin-bottom: 10px;
}
.update-exam-content .right .preview-question .question-item h6 {
  color: var(--color--656974--);
  font-weight: 600;
  font-size: 13px;
}
.update-exam-content .right .preview-question .question-item .answers {
  display: flex;
  align-items: center;
  gap: 10px;
}
.update-exam-content .right .preview-question .question-item .answers label {
  font-size: 11px;
}
/*Update exam page end*/
