* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-1f2b4f--: #1f2b4f;
  --color-bfc3d4--: #bfc3d4;
  --color-f5f6fa--: #f5f6fa;
  --color-cccccc--: #cccccc;
  --color--285be6--: #285be6;
  --color--ffffff--: #ffffff;
  --color--f8f7fc--: #f8f7fc;
  --color--b3bcd3--: #b3bcd3;
  --color--656974--: #656974;
}
body {
  font-family: "Poppins", sans-serif;
}
.main {
  width: 100vw;
  height: 100vh;
  background-image: url("../public/learn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login page begin*/
.wrapper {
  display: flex;
  flex-direction: column;
  background-color: var(--color--ffffff--);
  border-radius: 40px;
  width: 80%;
  height: 87%;
}
.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px 100px 0px 100px;
}
.top button {
  border: 2px solid var(--color-bfc3d4--);
  width: 160px;
  height: 55px;
  border-radius: 55px;
  color: var(--color-bfc3d4--);
  font-size: 20px;
  font-weight: 500;
  background-color: var(--color-ffffff--);
}
.top button:hover {
  cursor: pointer;
}
.form-container {
  display: flex;
}
.sign-in {
  display: flex;
  justify-content: center;
  width: 50%;
}
.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-login .title {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  margin-top: 120px;
  margin-bottom: 30px;
}
.form-login .title > h3 {
  color: var(--color-1f2b4f--);
  font-weight: 600;
}
.others-login h3 {
  color: var(--color-bfc3d4--);
  text-align: end;
  font-weight: 600;
}
.others-login .social-icons {
  display: flex;
  margin-top: 10px;
}
.others-login .social-icons .icon {
  background-color: var(--color-bfc3d4--);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 0 0 6px;
  color: white;
}
.form-login .input-field {
  width: 100%;
  height: 58px;
  margin: 10px 0;
  display: grid;
  grid-template-columns: 10% 90%;
  border-radius: 40px;
  border: 1px solid var(--color-bfc3d4--);
  background-color: white;
  padding-left: 20px;
  padding-right: 25px;
}
.form-login .input-field i {
  text-align: center;
  line-height: 55px;
  color: var(--color-bfc3d4--);
}
.form-login .input-field input {
  border: none;
  outline: none;
  line-height: 1;
  font-weight: 600;
  font-size: 20px;
}
.form-container .image img {
  width: 90%;
  height: auto;
  margin-top: 90px;
}
.form-login .forgot-submit {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
.forgot-submit a {
  color: var(--color-bfc3d4--);
  text-decoration: none;
  font-size: 17px;
  font-weight: 500;
  display: flex;
  align-items: center;
}
.forgot-submit button {
  border: none;
  width: 160px;
  height: 55px;
  border-radius: 55px;
  color: white;
  font-size: 20px;
  font-weight: 500;
  background-color: var(--color--285be6--);
}
.forgot-submit button:hover {
  cursor: pointer;
}

/* Login page end*/

/* Navbar begin */
.navbar-wrapper {
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  padding-top: 15px;
  margin-left: 30px;
}
.search {
  display: grid;
  grid-template-columns: 15% 85%;
  background-color: var(--color--f8f7fc--);
  border-radius: 45px;
  width: 30%;
  margin-right: 300px;
  padding-right: 20px;
}
.search i {
  text-align: center;
  line-height: 55px;
  color: var(--color--b3bcd3--);
  font-size: 20px;
}
.search input {
  border: none;
  outline: none;
  height: 55px;
  background-color: var(--color--f8f7fc--);
  font-size: 20px;
  color: var(--color--b3bcd3--);
}
.user {
  display: flex;
  gap: 40px;
  margin-right: 80px;
}
.notifications {
  display: flex;
  align-items: center;
}
.notifications i {
  font-size: 25px;
  color: var(--color--b3bcd3--);
}
.user-infor {
  display: flex;
  align-items: center;
  gap: 15px;
  position: relative;
}
.user-infor > i {
  font-size: 50px;
  color: var(--color-bfc3d4--);
}
.name {
  display: flex;
  align-items: center;
  gap: 10px;
}
.user-infor:hover {
  cursor: pointer;
}
.user-infor:hover .user-dropdown {
  display: block;
  position: absolute;
  top: 54px;
  left: 5px;
}
.user-dropdown {
  display: none;
}
.user-dropdown ul {
  background-color: var(--color--f8f7fc--);
  width: 220px;
  border-radius: 0 0 5px 5px;
}
.user-dropdown .item {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 15px 0 15px 15px;
}
.user-dropdown .item:hover li {
  cursor: pointer;
  color: var(--color--285be6--);
}
.user-dropdown .item i {
  color: var(--color--656974--);
}
.user-dropdown .item li {
  list-style-type: none;
  font-size: 17px;
  font-weight: 500;
  color: var(--color--656974--);
}
.user-dropdown ul > .item:first-child,
.user-dropdown ul > .item:nth-child(2) {
  border-bottom: 1px solid var(--color--b3bcd3--);
}
/* Navbar end */

/* Sidebar begin*/
.side-bar-wrapper {
  padding-top: 80px;
}
.side-bar-wrapper .item {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 15px 0px 15px 40px;
  margin-bottom: 15px;
}
.side-bar-wrapper .item:hover {
  cursor: pointer;
  border-right: 5px solid #285be6;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.side-bar-wrapper .item:hover i {
  color: var(--color--285be6--);
}
.side-bar-wrapper .item:hover p {
  color: var(--color--285be6--);
}
.side-bar-wrapper .item i {
  font-size: 19px;
  color: var(--color--285be6--);
  font-weight: 600;
}
.side-bar-wrapper .item p {
  font-size: 19px;
  color: var(--color--656974--);
  font-weight: 500;
}
/* Sidebar end*/

/* Adminlayout begin */
.navbar {
  border-bottom: 8px solid var(--color-f5f6fa--);
}
.content-wrapper {
  display: flex;
  height: 100%;
}
.side-bar {
  width: 20%;
  border-right: 8px solid var(--color-f5f6fa--);
  height: 100%;
}
.content-wrapper > .content {
  width: 80%;
  margin: 50px;
}
/* Adminlayout end */

/* Dashboard begin*/
.dashboard-wrapper {
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 50px;
}
.widgets-wrapper {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
  min-height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  /* background-color: var(--color-bfc3d4--); */
}
.widgets-wrapper > .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}
.widgets-wrapper > .content i {
  font-size: 50px;
  color: var(--color--285be6--);
}
.widgets-wrapper > .content p {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.widgets-wrapper > .count p {
  font-size: 18px;
  font-weight: 500;
}
.widgets-wrapper button {
  border: none;
  width: 100px;
  height: 40px;
  border-radius: 55px;
  color: var(--color--656974--);
  font-size: 17px;
  font-weight: 500;
}
.widgets-wrapper button:hover {
  cursor: pointer;
  background-color: var(--color--285be6--);
  color: white !important;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* Dashboard end*/
